In [6]:
import pandas as pd
from keystrokes.transformers.transpose_transformer import TransposeTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

from keystrokes.transformers.key_code_median_transformer import KeyCodeMedianTransformer
from keystrokes.transformers.keyboard_event_transformer import KeyboardEventTransformer

In [2]:
from keystrokes.features.example_creation import ExampleCreator

In [3]:
ec = ExampleCreator()
p_keystorkes = ec.create_positive_examples(file_id = 1)
n_keystorkes = ec.create_negative_examples(file_id = 1)

In [5]:
p_keystorkes[0][0]

     PARTICIPANT_ID  TEST_SECTION_ID     PRESS_TIME   RELEASE_TIME  KEYCODE
109               7               35  1471934455684  1471934455812       84
110               7               35  1471934455952  1471934456091       72
111               7               35  1471934456064  1471934456140       69
112               7               35  1471934456562  1471934456678       32
113               7               35  1471934457124  1471934457244       67
..              ...              ...            ...            ...      ...
673               7              139  1471934703158  1471934703241       80
674               7              139  1471934703333  1471934703445       82
675               7              139  1471934703552  1471934703624       73
676               7              139  1471934703898  1471934704006       76
677               7              139  1471934704112  1471934704235       32

[291 rows x 5 columns]

In [7]:
pipeline = Pipeline(
    [
        ("keystroke", KeyboardEventTransformer()),
        ("median", KeyCodeMedianTransformer()),
    ]
)

In [9]:
pipeline.transform(p_keystorkes[0][0])

     KEYCODE  NEXT_KEYCODE  MEDIAN_PRESS_PRESS_TIME  MEDIAN_HOLD_TIME
0          8             8                    160.0              83.0
1          8            16                    618.0             108.0
2          8            39                    724.0             188.0
3          8            69                    575.0              88.0
4          8            73                    493.0              93.0
..       ...           ...                      ...               ...
156       89            32                    185.0             118.0
157      190            16                   3603.0              80.0
158      190            49                    941.0              77.0
159      190            84                   3836.0              92.0
160      222            76                   1407.0              95.0

[161 rows x 4 columns]